name: Tests
on: [ push, pull_request ]

jobs:

  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.18'
      - run: go install github.com/sanjP10/release@3.2.1
      - run: release validate -username ${{ github.actor }} -password ${{ secrets.GITHUB_TOKEN }} -repo ${{ github.repository }} -changelog CHANGELOG.md -hash ${{ github.sha }} -provider github

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: brpaz/hadolint-action@v1.2.1
        with:
          dockerfile: Dockerfile

  integrationTest:
    needs:
      - validate
      - lint
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Release
        uses: sanjP10/release-action@main
        id: release
        with:
          changelog-file-location: CHANGELOG.md
      - run: echo ${{ steps.release.outputs.version }}


  create:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    needs:
      - integrationTest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Release
        uses: sanjP10/release-action@main
        id: release
        with:
          changelog-file-location: CHANGELOG.md
          operation: create
      - run: echo ${{ steps.release.outputs.version }}
